.onboarding-parent-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.onboarding-container {
  display: flex;
  align-items: center;
  margin: 0 auto; 
  flex-direction: column;
  justify-content: space-between;
}

.image-container img {
  display: flex;
  align-items: center;
  height: 250px;
}

.onboarding-container h1 {
  padding: 10px;
}

.onboarding-container p {
  font-size: 26px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
  height: 100px;
}

p {
  font-size: 20px;
  width: 70%;
  text-align: center;
}

.text-container p {
  margin-top: 100px;
}

.button-start {
  padding: 10px;
  font-size: 16px;
  margin: 20px 10px;
  background-color: #413c69;
  color: #FFF;
  border: 2px solid #413c69;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
}

.button-start-container {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
  width: 80%;
}