.toggleControlsContainer {
display: flex;
justify-content: center;
padding: 5px;
margin-bottom: 15px;
}

.toggleButtons {
  display: flex;
  width: 90%;
  justify-content: space-between;
 
}

.all-button {
    border: 2px solid #eab9c9;
     
    border-radius: 3px;
    border: none;
    margin: 0 0.25em;
    transition: all 0.3s;
}

.active {
  border: 2px solid #eab9c9;
  
  border-radius: 3px;
  border: none;
  margin: 0 0.25em;
  transition: all 0.3s;
}

.complete {
  border: 2px solid #eab9c9;
  
  border-radius: 3px;
  border: none;
  margin: 0 0.25em;
  transition: all 0.3s;
}

.remove {
  border: 2px solid #eab9c9;
  border-radius: 3px;
  border: none;
  margin: 0 0.25em;
  transition: all 0.3s;
}



