.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
  height: 56px;
}

.nav_navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}


.nav_logo {
  font-size: 1.5rem;
  text-decoration: none;
}

.spacer {
  flex: 1;
}

.nav_items ul {
text-decoration: none;
list-style: none;
margin: 0;
padding: 0;
display: flex;
}

.nav_items li {
  padding: 0 0.5rem;
  text-decoration: none;
  
}
.nav_items {
  color: white;
  text-decoration: none;
}

.nav_items a:hover, 
.nav_items a:active {
 color: black;
}

.nav_items a {
text-decoration: none;
}